# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Local SQLite data
server/database/*.sqlite
server/database/*.sqlite-shm
server/database/*.sqlite-wal

# Agents
agentdocs/
